.button-add {
  display: block;
  width: 216px;
  margin: 0 auto 16px;
  box-sizing: border-box;
  padding: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  background: #fff;
}

.button-remove {
  display: block;
  margin: 0 auto;
  width: 216px;
  box-sizing: border-box;
  padding: 12px;
  border: none;
  background: none;
  color: #f5e5e7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
