.button-add{
    display: block;
    width: 216px;
    margin: 0 auto;
    box-sizing: border-box;
}

.button-remove{
    display: block;
    margin: 0 auto;
    width: 216px;
    box-sizing: border-box;
}